DATABASE_URL="postgresql://beauty_user:beauty_password@db:5432/beauty_app?schema=public"
POSTGRES_USER="beauty_user"
POSTGRES_PASSWORD="beauty_password"
POSTGRES_DB="beauty_app"
APP_URL="http://localhost:3333"
JWT_SECRET="troque-essa-chave-em-producao"
SEED_ADMIN_EMAIL="admin@demo.com"
SEED_ADMIN_PASSWORD="123456"
SEED_SALON_NAME="Salão Bella Demo"
